@import url('https://fonts.googleapis.com/css2?family=Alice&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


*{
    box-sizing: border-box;
    
}

h2 {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

h3 {
    font-family: "Playfair Display", sans-serif;
    font-weight:600;
    color:rgb(220,68,22,85%) ;
}
    
p {
    text-align: center;
}

.carinderia-cover{
    top:0;
    position:absolute;
    object-fit: cover;
    width:100%;
}

html, body {
    height: 100%;
    margin: 0;   
    background-color: #f9f9f9; 
  }

   
  .carinderia-container {
    height: 100vh; 
    width: 100%; 
    background-color: #f9f9f9; 
    box-sizing: border-box; 
    padding: 20px;
  }



.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 220px 30px 30px; 
    padding-top: 120px; 
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


.card {
    font-family: "Alice", serif;
    background: #ffffffcb; 
    border-radius: 3px; 
    box-shadow: 2px 2px 4px #c4c4c4 ;
    padding: 15px; 
    margin: 10px; 
    text-align: center; 
    width: 100%; 
    max-width: 350px; 
    cursor: pointer; 
    transition: transform 0.2s; 
    text-decoration: none; 
    color: white; 
    border:0.5px solid rgb(226, 226, 226);
}

.card p{
    margin-top:7px;
    font-family: "Lato", sans-serif;
    color:#696969;
    font-weight: 300;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%; 
    height: auto; 
    border-radius: 3px; 
    margin-bottom:15px;
}

h1 {
    font-size: 2rem; 
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem; 
    }
}

@media screen and (min-width:2500px){
    .card-container {
        padding-top:250px;
        transform:scale(1.2);
        margin: 250px 200px 30px; 
    }

    .carinderia-container{
        height: 90vh; 
    }

}