.about-container{
    position: relative;
    height: 100vh;
}

.about-content{
    font-family:"Libre Baskerville", serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    text-align: center;
    color:rgb(0, 0, 0);
}