.about-container{
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.about-content{
    font-family:"Libre Baskerville", serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    text-align: center;
    color:rgb(0, 0, 0);
}

.about-content h1{
    font-weight: 800;
    font-size:3rem;
}
.about-content p{
    margin-top:3%;
    font-size:20px;
    text-align: start;
}

.devTitle{
    margin-top:5%;
}

.devpics{
    margin:10% 30px;
    width:50%;
}

.devpic-container{
    display:flex;
}

.devpic-wrapper{
    display:inline-block;
}

