@import url('https://fonts.googleapis.com/css2?family=Alice&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


*{
    box-sizing: border-box;
    
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #eb7311;
}  


h2 {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

h3 {
    font-weight: bold;
    color: #eb7311;
}
    
p {
    text-align: center;
}

.carinderias-header {
    background-color: #080808;
    color: white;
    height: 13vh;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.website-name {
    font-family: "Alice", serif;
    font-size: 60px;
    margin: 25px 0;
}
.loginBtn{
    padding:0 50px;
    border:none;
    cursor: pointer;
    font-family: "Alice", serif;
    background-color:#eb7311;
    color:white;
    font-size:15px;
    transition:0.5s ease;
    border-radius: 1px;
}

.loginBtn:hover{
    background-color:#b84e07;
}

.nav-bar{
    display:flex;
    position:absolute;
    right:50px;
    top:35px;
}

.nav-bar ul{
    display:flex ;
}

.nav-bar li{
    list-style: none;
    margin:0 50px;
    font-family: "Alice", serif; 
    font-size:16px;
    cursor: pointer;
}
.nav-bar li a {
    color: white; 
    text-decoration: none;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 220px 30px 30px; /* Top margin to create space below the navbar */
    padding-top: 20px; /* Optional: add some padding for extra spacing */
}

.card {
    background: #000000; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 15px; 
    margin: 10px; /* Keep the original margin */
    text-align: center; 
    width: 250px; 
    cursor: pointer; 
    transition: transform 0.2s; 
    text-decoration: none; 
    color: white; 
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: auto; 
    border-radius: 5px; 
}