.contact-cover{
  top:0;
  position:absolute;
  object-fit: cover;
  max-width:100%;
}

html, body {
  height: 100%;
  margin: 0;   
  background-color: #f9f9f9; 
}

.contact-container {
  background-color: rgb(255, 255, 255);
    height: 100vh; 
    width: 100%; 
    background-color: #f9f9f9; 
    box-sizing: border-box; 
    padding: 20px;

}



form {
  margin-top:5%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -85%);
  width: 40%;
  height: 50%;

  color: rgb(0, 0, 0);
}

form .input-box {
  margin-top: 20px;
}

form button {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 2px;
  background: rgb(220,68,22,85%) ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-top: 25px;
  transition: 0.5s;
  font-family:"Lato", sans-serif;
}

form button:hover{
  background-color: rgba(177, 53, 16, 0.85) ;
}

.input-box .fieldMessage {
  height: 200px;
  resize: none;
  width: 100%;
  border: 1px solid #696969;
  border-radius: 2px;
  padding: 15px;
  font-size: 16px;
  margin-top: 8px;
  color: #000;
}

.input-box .field {
  width: 100%;
  height: 50px;
  border: 1px solid #696969;
  border-radius: 2px;
  padding: 15px;
  font-size: 16px;
  margin-top: 8px;
  color: #000;
}

.fieldMessage::placeholder, .field::placeholder{
  font-style: italic;
}

.Label{
  font-family:"Lato", sans-serif;
  color:rgb(220,68,22,85%) ;
  font-weight:700;
  justify-content: start;
  font-size:1.2rem;
}