.contact-cover{
  top:-16.5%;
  position:absolute;
  object-fit: cover;
  width:100%;
}

html, body {
  height: 100%;
  margin: 0;   
  background-color: #f9f9f9; 
}

.contact-container {
  background-color: rgb(255, 255, 255);
    height: 100vh; 
    width: 100%; 
    background-color: #f9f9f9; 
    box-sizing: border-box; 
    padding: 20px;

}

.contact-content h1{
  width:100%;
  padding: 5%;
  text-align: center;
  font-weight: 100;
  font-size:6rem;
  font-family: "Euphoria Script", cursive;
  text-shadow: 4px 4px 4px rgb(0, 0, 0,25%);
  color:white;
  position:absolute;
}



form {
  margin-top:5%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -85%);
  width: 60%;
  height: 50%;
  text-align: center;
  color: rgb(0, 0, 0);
}

form .input-box {
  margin-top: 20px;
}

form button {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 6px;
  background: gainsboro;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin-top: 25px;
  transition: 0.5s;
}

.input-box .fieldMessage {
  height: 200px;
  resize: none;
  width: 100%;
  border: 2px solid;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  margin-top: 8px;
  color: #000;
}

.input-box .field {
  width: 100%;
  height: 50px;
  border: 2px solid;
  border-radius: 6px;
  padding: 15px;
  font-size: 16px;
  margin-top: 8px;
  color: #000;
}
