@import url("https://fonts.googleapis.com/css2?family=Alice&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

header {
  background-color: #080808;
  color: white;
  height: 13vh;
  position:absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}

.link {
  color: white;
  text-decoration: none;
}

.header-container {
  display: flex;
}

.website-name {
  font-family: "Alice", serif;
  font-size: 60px;
  margin: 25px 50px;
}

.loginBtn {
  border: none;
  cursor: pointer;
  font-family: "Alice", serif;
  background-color: #eb7311;
  color: white;
  font-size: 15px;
  transition: 0.5s ease;
  border-radius: 1px;

}

.loginBtn:hover {
  background-color: #b84e07;
}

.nav-bar {
  display: flex;
  position: absolute;
  right: 50px;
  top: 35px;
}

.nav-bar ul {
  display: flex;
  margin:20px 0;
}

.nav-bar li {
  list-style: none;
  margin: 0 50px;
  font-family: "Alice", serif; /*or Crimson Text*/
  font-size: 16px;
  cursor: pointer;
}

@media screen and (min-width: 2500px) {
  header {
    height: 10vh;
  }
}
