@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Serif+JP:wght@200..900&display=swap');


  .custom-centered {
    font-family: 'Libre Baskerville', serif;
    color: rgb(255, 255, 255);
    margin-top:-6%;
}

.btn-custom {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 1rem;
    color: white;
    background-color: #eb7311;
    border-radius: 2px;
    font-family: 'Alice', serif;
    transition:0.5s ease;
  }

  .btn-custom:hover {
    background-color: #d45500;
    color:white;
  }

  .text-large-centered {
    font-size: 120px;
    margin: 10px;
    text-shadow: 2px 5px rgb(22, 22, 22);
    text-align: center; 
}

.text-small-centered {
    font-size: 25px;
    margin: 0;
    text-shadow: 2px 2px rgb(22, 22, 22);
    text-align: center; 
}