
  .custom-centered {
    color: rgb(255, 255, 255);
    border-radius:5px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.btn-custom {
    --bs-btn-padding-x: 4rem;
    --bs-btn-padding-y: 1rem;
    color: white;
    background-color: rgb(220,68,22,85%) ;
    border-radius: 2px;
    font-family: 'Alice', serif;
    transition:0.5s ease;
  }

  .btn-custom:hover {
    background-color: rgba(177, 53, 16, 0.85) ;
    color:white;
  }

  .text-large-centered {
    font-family: "Euphoria Script", cursive;
    font-size: 9rem;
    margin: -5px;
    text-shadow: 4px 4px 4px rgb(0, 0, 0,25%);
    text-align: center; 
}

.text-small-centered {
  font-family: 'Alice', serif;
    font-size: 1.4rem;
    margin: 0;
    text-shadow: 4px 4px 4px rgb(0, 0, 0,25%);
    text-align: center; 
}

@media screen and (max-width:1535px) {
  .text-large-centered {
    font-size: 7rem;
}

.text-small-centered {
  font-size: 1.2rem;
}


.btn-custom {
  transform: scale(0.8);
}
}

@media screen and (max-width:1200px) {
  .text-large-centered {
    font-size: 5rem;
}

.text-small-centered {
  font-size: 1rem;
}


.btn-custom {
  transform: scale(0.7);
}
}


@media screen and (max-width:850px) {
  .text-large-centered {
    font-size: 4rem;
}

.text-small-centered {
  font-size: 0.8rem;
}


.btn-custom {
  transform: scale(0.6);
}
}

@media screen and (max-width:850px) {
  .text-large-centered {
    font-size: 4rem;
}

.text-small-centered {
  font-size: 0.8rem;
}


.btn-custom {
  transform: scale(0.6);
}
}

@media screen and (max-width:670px) {
  .text-large-centered {
    font-size: 3rem;
}

.text-small-centered {
  font-size: 0.7rem;
}


.btn-custom {
  transform: scale(0.5);
}
}

@media screen and (max-width:540px) {
  .text-large-centered {
    font-size: 3rem;
}

.text-small-centered {
  font-size: 0.6rem;
}


.btn-custom {
  transform: scale(0.5);
}
}